html{
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
    color: color(font);
    background-color: color(background);

    @include forMinimum(x-large){
        font-size: 16px;
    }

    @include forMaximum(small){
        font-size: 12px;
    }

}


body{
    width: 80%;
    margin: 2em auto;

    @include forMinimum(x-large){
        width: 70%;
    }

    @include forMaximum(small){
        width: 95%;
    }
}

a {
  text-decoration: none;
}
