$colorPalettes: (
    background: (
        base:       #FCFCFC,
        test:       #DDEEFF
    ),
    font: (
        base:       #4E4E4E
    ),
    border: (
        base:       #CACFD0
    ),
    shadow: (
        base:       #0099FF
    ),
    button: (
        top:        #FCFCFC,
        bottom:     #F0F0F0,
        font:       #555555,
        border:     #999999
    ),
    vertical: (
        from:       '#ddeeff',
        to:         '#3366ff'
    ),
    horizontal: (
        from:       '#ff3333',
        stop:       '#ffff33',
        to:         '#33ff33'
    )
);
