/* Breakpoints
 * -----------
 * List of available breakpoints with mixins for using them. The three mixins
 * have diffrent behaviour for undefined breakpoints. Feel free to choose one
 * and modify the other mixin to behave the same way. */


$breakpoints: (
x-small: 590,
small: 767,
medium: 992,
large: 1200,
x-large: 1680
);


/* min-width
 * ---------
 * forMinimum mixin only allows defined breakpoints.
 * If passed argument doesn't match, warning is issued. */
@mixin forMinimum($breakpoint){
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        @media (min-width: $value + 'px') {
            @content;
        }
    } @else {
        @warn "Media breakpoint `#{$breakpoint}` does not exist.";
    }      
}


/* max-width
 * ---------
 * forMaximum mixin allows defined breakpoints. 
 * If passed argument doesn't match, it is used as the whole @media query. */
@mixin forMaximum($breakpoint){
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        @media (max-width: $value + 'px') {
            @content;
        }
    } @else {
        @media ($breakpoint) {
            @content;
        }
    }      
}

/* min and max width
 * ---------
 * forBetween does not check for undefined breakpoints. */
@mixin forBetween($minimum,$maximum){
    $from: map-get($breakpoints, $minimum);
    $to: map-get($breakpoints, $maximum);
    $to: $to - 1;

    @media (min-width: $from + 'px') and (max-width: $to + 'px') {
        @content;
    }
}