/* Vendor prefixes
 * --------
 * Mixins for solving vendor prefixes issues and unsupported gradients in IE9. */

@mixin userSelect($state: "none"){
    -webkit-user-select: unquote($state);  /* Chrome all / Safari all */
    -moz-user-select: unquote($state);     /* Firefox all */
    -ms-user-select: unquote($state);      /* IE 10+ */
    //-o-user-select: unquote($state);
    user-select: unquote($state);   
}

@mixin transform($transform: "translateZ(0)"){
    //-webkit-transform: unquote($transform);
    //-moz-transform: unquote($transform);
    //-ms-transform: unquote($transform);
    //-o-transform: unquote($transform);
    transform: unquote($transform);
}

@mixin transition($transistion: "all 300ms"){
    //-webkit-transition: unquote($transistion);
    //-moz-transition: unquote($transistion);
    //-ms-transition: unquote($transistion);
    //-o-transition: unquote($transistion);
    transition: unquote($transistion);
}

@mixin boxsizing($boxsizing: "border-box"){
    //-webkit-box-sizing: unquote($boxsizing);
    //-moz-box-sizing: unquote($boxsizing);
    //-ms-box-sizing: unquote($boxsizing);
    //-o-box-sizing: unquote($boxsizing);
    box-sizing: unquote($boxsizing);
}
