.m-tests{
    @extend %clearfix;
    >div{
        float: left;
        width: 100%;
        margin-bottom: 2%;
        @include boxsizing();
        padding: 3em 2em;
        background-color: color(background, test);
        @include forBetween(x-small,medium){
            width: 49%;
            margin-left: 2%;
            &:nth-child(2n + 1){
                margin-left: 0;
                clear: both;
            }
        }
        @include forBetween(medium,x-large){
            width: 32%;
            margin-left: 2%;
            &:nth-child(3n + 1){
                margin-left: 0;
                clear: both;
            }
        }
        @include forMinimum(x-large){
            width: 23.5%;
            margin-left: 2%;
            &:nth-child(4n + 1){
                margin-left: 0;
                clear: both;
            }
        }
    }
}

.m-test-user-select{
    @include userSelect();
}

.m-test-ellipsis{
    >span{
        display: block;
        width: 3em;
        @include ellipsis();
    }
    &:hover>span{
        width:auto;
        white-space: normal;
    }
}


.m-test-gradient-horizontal{
    @include gradientBg3h(color(horizontal,from),color(horizontal,stop),color(horizontal,to));
    //@include gradientVertical(#ff3333,'#ff3',#3f3); //this will not work for ie9
}

.m-test-gradient-vertical{
    @include gradientBg2v(color(vertical,from),color(vertical,to));
    //@include gradientVertical(#def,#36f); //this will not work for ie9
}

.m-test-transform{
    @include transition('transform 500ms');
    @include transform('rotate(10deg)');
    &:hover{
        @include transform('none');
    }
}

.m-test-button{
    @extend .c-btn;
    @include gradientBg2v(color(button,top),color(button,bottom));
    color: color(button,font);
    border-color: color(button,border);

    &:hover{
        @include gradientBg2v(color(button,bottom),color(button,top));        
    }
}

.m-test-animation{
    @include animation();
}

